<%- include('../partials/header') %>
<h2><My Home Page About the Seahawks!</h2>
  <p><img src=<image class ="images/seahawks-logo.png" /></p>
  <p> Welcome to my page about the Seahawks! In this terrible offseason for Seahawks fans. I will been using this website that consists of Express and EJS to create a Node.js website. Within the files, splits headers and partials that connect to each other.</p>
  
<%- include('../partials/footer') %>
