<%- include('../partials/header') %>
<h2>Info Page</h2>
  <p><img src=<image class="pic" ="images/Seattle-Seahawks.jpeg" /></p>
  <p> This page contains the 5 greatest Seahawks player from their entire history.</p>

  <h3> Seahawks 5 Greatest Players: </h3>
  <ul> 
  <li>Kenny Easley, S</li>
  <li>Cortez Kennedy, DT</li>
  <li>Walter Jones, OT</li>
  <li>Russell Wilson, QB</li>
  <li>Steve Largent, WR</li>
  </ul>

  <p> I'll add this section for the loss of Russell Wilson. But in my opinion, I think the move made sense from a cap space perspective.</p>
  
<%- include('../partials/footer') %>
