<%- include('../partials/header') %>
<h2>Rivals</h2>
  <p><img class ="pic" src="images/seahawks-rival.jpg" /></p>
  <p> Seahawks main rival was the 49ers. Where the famous Richard Sherman tip happened during the NFC Championship in 2013. These days the Seahawks own the 49ers as Russell Wilson career against the 49ers is 16-4 in his career.</p>

<p>With Russell Wilson leaving that may all change.</p>
  
<%- include('../partials/footer') %>