<%- include('../partials/header') %>
<h2>Superbowls</h2>
  <p><img class ="pic" src="images/seahawks-superbowl.jpg" /></p>
  <p> This page consist about one of more dominent victories that Seahawks were part of.</p>

<p>During the 2013 season, Seahawks had the most feared defenses in the League. Legion of Boom was what the defense was called. In the first play of the Broncos, the Broncos had a failed hike and the Seahawks capitialized on that opportunity and got a safety on the very first play. It was a tough game for Peyton Manning that resulted in a 43-8 victory for the Seahawks. </p>
  
<%- include('../partials/footer') %>